h1
{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: center;
}
h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
h4
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
h5
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body
{
    align-items: center;
    text-align: center;
    background-image: url(https://media.sweetwater.com/m/insync/2022/08/Famous-SG-Guitar-Players-Featured-Image.jpg);
    background-size:cover;
}